<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>practise</title>
    <link rel="stylesheet" href="/css/admin/common.css">
    <link rel="stylesheet" href="/css/admin/productList.css">
</head>

<body>
    <header th:replace="admin/fragment :: adminHeader"></header>

    <div class="list_container">
        <h2>상품 리스트</h2>

        <div class="list_titles">
            <span class="pro_name">상품명</span>
            <span class="pro_price">가격</span>
            <span class="pro_dis">할인율</span>
            <span class="pro_opt">옵션</span>
            <span class="pro_img">이미지</span>
            <span class="pro_del">삭제하기</span>
        </div>

        <div class="list_values">
            <div class="values" th:each="product : ${product}">
                <span class="values_name" th:text="${product.productName}"></span>
                <span class="values_price" th:text="${product.price}"></span>
                <span class="values_dis" th:text="${product.discount}"></span>
                <span class="values_opt" th:text="${product.productOption}"></span>
                <img th:src="${product.imagePath}">
                <div class="values_del">
                    <a th:href="@{/admin/del-pro(productCode=${product.productCode})}">
                        삭제하기
                    </a>
                </div>
            </div>
        </div>

        <div class="paging">
            <!-- 처음으로 -->
            <a th:href="@{/admin/get-pro(categoryCode=${code}, currentPage=1, check=${check})}"
               th:style="${pageMaker.prev == false ? 'visibility: hidden' : 'visibility: visible'}">
                &lt;&lt;
            </a>
            <!-- 이전 페이징으로 -->
            <a th:href="@{/admin/get-pro(categoryCode=${code}, currentPage=${pageMaker.startPageNum - 1}, check=${check})}"
               th:style="${pageMaker.prev == false ? 'visibility: hidden' : 'visibility: visible'}">
                &lt;
            </a>

            <!-- 페이징 번호 -->
            <a th:each="num, stat : ${#numbers.sequence(1, 5)}" th:text="${num}"
               th:if="|${stat.count}| <= ${pageMaker.endPageNum}"
               th:href="@{/admin/get-pro(categoryCode=${code}, currentPage=${num}, check=${check})}"
               th:style="${pageMaker.criteria.currentPage == num ? 'pointer-events: none; text-decoration: underline;' : ''}"></a>

            <!-- 다음 페이징으로 -->
            <a th:href="@{/admin/get-pro(categoryCode=${code}, currentPage=${pageMaker.endPageNum + 1}, check=${check})}"
               th:style="${pageMaker.next == false ? 'visibility: hidden' : 'visibility: visible'}">
                &gt;
            </a>
            <!-- 마지막 페이지로 -->
            <a th:href="@{/admin/get-pro(categoryCode=${code}, currentPage=${pageMaker.lastPageNum}, check=${check})}"
               th:style="${pageMaker.next == false ? 'visibility: hidden' : 'visibility: visible'}">
                &gt;&gt;
            </a>
        </div>

        <form class="search_box" action="/admin/get-pro" method="get">
            <select name="categoryCode">
                <option value="1" th:selected="${code == 1 || code == '' || code == null}">소파</option>
                <option value="2" th:selected="${code == 2}">테이블</option>
                <option value="3" th:selected="${code == 3}">의자-거실</option>
                <option value="4" th:selected="${code == 4}">TV콘솔</option>
                <option value="5" th:selected="${code == 5}">침대</option>
                <option value="6" th:selected="${code == 6}">매트리스</option>
                <option value="7" th:selected="${code == 7}">협탁</option>
                <option value="8" th:selected="${code == 8}">식탁</option>
                <option value="9" th:selected="${code == 9}">의자-주방</option>
                <option value="10" th:selected="${code == 10}">행거</option>
                <option value="11" th:selected="${code == 11}">수납장</option>
                <option value="12" th:selected="${code == 12}">화장대</option>
            </select>

            <div>
                <div>
                    <input type="radio" name="check" value="new"
                           th:checked="${check.equals('new') || check.equals('') || check == null}">
                    최신순
                </div>

                <div>
                    <input type="radio" name="check" value="old"
                           th:checked="${check == 'old'}">
                    오래된순
                </div>

                <div>
                    <input type="radio" name="check" value="expen"
                           th:checked="${check == 'expen'}">
                    가격순↑
                </div>

                <div>
                    <input type="radio" name="check" value="cheap"
                           th:checked="${check == 'cheap'}">
                    가격순↓
                </div>
            </div>

            <input type="submit" value="검색">
        </form>

        <p class="message" th:text="${message}"></p>
    </div>
</body>

</html>