<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common/config.css">
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <link rel="stylesheet" href="/css/user/memberPayment.css">
    <title>Goohae</title>
    <script defer src="/js/memberPayment.js"></script>
</head>

<body>
    <!-- 헤더 -->
    <header th:replace="common/header :: header"></header>

    <main>
        <section>
            <p class="payment_title">주문/결제</p>

            <article class="order_info_container">
                <form method="post">
                    <div class="order_info_box">
                        <p class="deli_title">배송지 정보</p>

                        <div class="name_box">
                            <label for="memPayOrderName">받는 사람</label>

                            <input class="order_name" name="" id="memPayOrderName" type="text"
                                placeholder="이름을 입력하세요." required>
                        </div>

                        <div class="phone_box">
                            <label for="firstPhoneNum">휴대폰번호</label>

                            <input class="order_phone" name="" id="firstPhoneNum" type="text" placeholder="'-'없이 입력"
                                onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" minlength="11" maxlength="12" required>
                        </div>

                        <div class="address_num_box">
                            <label for="postNum">우편번호</label>

                            <div>
                                <input class="post_num" type="text" name="" id="postNum" required>
                                <a href="#">우편번호 찾기</a>
                            </div>
                        </div>

                        <div class="address_input_box">
                            <label for="add_input">주소</label>

                            <input class="post_address" type="text" name="" id="add_input" placeholder="주소를 입력해주세요." required>
                        </div>


                        <div class="memo_box">
                            <label for="memOrderPostMemo">배송 메모</label>

                            <div>
                                <select class="post_memo" name="" id="memOrderPostMemo">
                                    <option selected>직접 입력하기(20자 이내)</option>
                                    <option value="부재시 경비실에 맡겨주세요.">부재시 경비실에 맡겨주세요.</option>
                                    <option value="빠른 배송 부탁드려요.">빠른 배송 부탁드려요.</option>
                                    <option value="부재시 연락 바랍니다.">부재시 연락 바랍니다.</option>
                                    <option value="배송전 연락 바랍니다.">배송전 연락 바랍니다.</option>
                                </select>

                                <input class="post_memo memo_input" placeholder="직접입력" type="text" name="">
                            </div>
                        </div>
                    </div>


                    <div class="product_container">
                        <p class="pro_title">상품 정보</p>

                        <div class="pro_info">
                            <span>상품 이미지</span>
                            <span>상품 이름</span>
                            <span>상품 수량</span>
                            <span>상품 가격</span>
                        </div>

                        <div class="product_box">
                            <div class="product">
                                <img src="" alt="구매 상품 이미지">

                                <p class="product_name"></p>

                                <p class="product_ea"></p>

                                <p class="product_price">
                                    <span class="smallGuide">상품가격</span>
                                    <span></span>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="memberPayMentFinPrice">
                        <p>최종 결제금액</p>

                        <div>
                            <div class="memPayProductPriceWrap">
                                <span>상품금액</span>
                                <span><strong>1,150,000</strong>원</span>
                            </div>

                            <div class="memPayDiscountPriceWrap">
                                <span>할인금액</span>

                                <span>
                                    - <strong>0</strong>원
                                </span>
                            </div>

                            <div class="memPayTotalPriceWrap">
                                <span>총 결제 금액</span>
                                <span>
                                    <strong></strong>원
                                </span>
                            </div>
                        </div>

                        <p class="memPayOrderTotalAgree">
                            <input type="checkbox" id="agree">

                            <label for="agree">전체 동의하기</label>
                        </p>

                        <ul class="memPayOrderTotalAgreeSection">
                            <li>
                                <input type="checkbox" id="agree1" required>

                                <label for="agree1">
                                    (필수)구매조건 확인 및 결제진행 동의
                                </label>
                            </li>

                            <li>
                                <input type="checkbox" id="agree2" required>

                                <label for="agree2">
                                    (필수)개인정보 수집 및 이용동의
                                </label>
                            </li>

                            <li>
                                <input type="checkbox" id="agree3" required>

                                <label for="agree3">
                                    (필수)개인정보 제3자 제공동의
                                </label>
                            </li>
                        </ul>

                        <div>
                            <input class="order_btn" type="submit" value="주 문 하 기">
                        </div>
                    </div>
                </form>
            </article>
        </section>
    </main>

    <footer th:replace="common/footer :: footer"></footer>
</body>

</html>