<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../header/header.css">
    <link rel="stylesheet" href="../footer/footer.css">
    <link rel="stylesheet" href="/user/paymentComplete.css">
    <title>Document</title>
</head>

<body>

    <main>
        <section >
            <p>주문이 정상적으로 완료되었습니다.</p>
            <div class="paymentCompleteWrap">
                <ul>
                    <li>
                        <strong>예상 배송일</strong>
                    </li>
                    <li>
                        <strong>수령인</strong>
                        <strong>번호</strong>
                        <strong>주소</strong>
                    </li>
                    <li>
                        <strong>주문번호</strong>
                        <strong>주문자</strong>
                        <strong>번호</strong>
                        <strong>아이디</strong>
                        <strong>이메일</strong>
                    </li>
                </ul>

                <ul>
                    <li>
                        <span><span>4~5</span>일</span>
                    </li>
                    <li>
                        <span>유정현</span>
                        <span>010-5421-5350</span>
                        <span>성남시 중원구 하대원동 성원초원아파트 103동 1107호</span>
                    </li>
                    <li>
                        <span>825353</span>
                        <span>유정현</span>
                        <span>010-5421-5350</span>
                        <span>dbdb1114</span>
                        <span>dbdb1114@naver.com</span>
                    </li>
                </ul>
                <div>
                </div>
            </div>
            <div class="paymentCompleteInfoWrap">
                <div>
                    <img src="../images/icon/HunkerBed1-1.jpg" alt="">
                    <div>
                        <p>무헤드 통수납침대</p>
                        <p>옵션</p>
                        <div>
                            <p>기본(+0)</p>
                            <p>Walnut 색상(+0)</p>
                        </div>
                        <p>상품금액: 1,590,000</p>
                        <p>주문 수량: 1개</p>
                    </div>
                </div>
                <div>
                    <div>
                        <span>상품금액</span><span>1,590,000</span>
                    </div>
                    <div>
                        <span>배송비</span><span>25,000</span>
                    </div>
                    <div>
                        <span>할인금액</span><span>0</span>
                    </div>
                    <div>
                        <span>쿠폰 할인</span><span>0</span>
                    </div>
                    <div>
                        <span>최종결제금액</span><span>1,615,000</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
 
</body>

</html>