.table {
    width: 720px;
    box-sizing: border-box;
}

thead{
    width : 100%;
}

thead > tr {
    width : 100%;
    display : flex;
    justify-content : space-between;
    border-bottom : 0.3px solid #c8c8c8;
}

thead > tr > th{
    border : none;
    font-size : 1.4rem;
    margin : auto;
}





