<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head >
  <meta charset="UTF-8">
  <title>memberInfoMain</title>
  <link rel="stylesheet" href="/css/user/myPage/memberInfo.css">
  <link rel="stylesheet" href="/css/common/config.css">
  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/common/footer.css">
<!--  <script>-->
<!--    window.onload = function(){-->
<!--      $.ajax({-->
<!--        url:"/logined-user/myinfo",-->
<!--        type:"post",-->
<!--        success: function (resultData) {-->
<!--          console.log(resultData)-->
<!--        },-->
<!--        error: function (result){-->
<!--          console.log(result);-->
<!--        }-->
<!--      })-->
<!--    }-->
<!--  </script>-->
</head>

<body>
<header th:replace="common/header :: header"></header>
<main class="memberInfoMain">
  <section id="memberInfoWrap">
    <div class="myInfoCategory">
      <a href ="/" class="myPageLink">홈 &gt;</a>
      <a href ="/user/myPage" class="myPageLink">마이쇼핑 &gt;</a>
      <a href ="/user/memberInfo" class="myPageLink" id="myPageSubLink">내 정보</a>
    </div>
    <p class="memberInfoTitle">내 정보</p>
    <div class="ment">
      <p class='memberInfoHeadText'><strong class="memberInfoHeadTextName"  th:field="${user.name}" >유정현</strong> 님 환영합니다.</p>
    </div>

    <article class="formWrap">
      <form class="memberInfoForm"  th:action="@{logined-user/update}"  name="memberJoin">
        <div class="memberInfoIdInputWrap">
          <p>아이디</p>
          <input type="text" class="memberInfoIdInput" name="id" th:field="${user.id}" disabled />
        </div>
<!--        <div class="memberInfoEmailInputWrap">-->
<!--          <p>이메일</p>-->
<!--          <input class="memberINfoEmailIdInput" type="text" name="e_mailId"  th:field="${user.email}"  />-->
<!--          <p class="infoGuide">오류 메세지 입니다.</p>-->
<!--        </div>-->
        <div class="memberInfoPwInputWrap">
          <p>비밀번호</p>
          <input class="memberInfoPwInput" type="password" name="psw" minLength={10} maxLength={16}
                 placeholder=" 8 ~ 16자 영문, 숫자, 특수문자를 최소 한가지씩 조합"
                 th:id="password" th:name="password"/>
        </div>
        <div class="memberInfoPwConfirmInputWrap">
          <p>비밀번호 확인</p>
          <input class="memberInfoPwConfirmInput" type="password" name="psw" minLength={7} maxLength={15} />
        </div>
        <div class="memberInfoNameInputWrap">
          <p>이름</p>
          <input class="memberInfoNameInput" type="text" name="Name"  th:field="${user.name}" />
        </div>
        <div class="memberInfoTellInputWrap">
          <p>휴대전화</p>
          <input class="memberInfoTellInput" type="text" name="lastPhoneNum"  th:field="${user.phoneNumber}"/>
        </div>
        <div class="emailGetRadio">
          <div>
            <input type="radio" name="EmailGet" id="emailGet" defaultValue="Get" />
            <label htmlFor="emailGet"><span class="radioImg"></span></label>
            <label htmlFor="emailGet">이메일 수신함</label>
          </div>
          <div>
            <input type="radio" name="EmailGet" id="emailNoGet" defaultValue="NoGet" defaultChecked />
            <label htmlFor="emailNoGet"><span class="radioImg"></span></label>
            <label htmlFor="emailNoGet">이메일 수신안함</label>
          </div>
        </div>
        <div class="buttonWrap">
          <button class="memberInfoBtn">
            취소
          </button>
          <button class="memberInfoBtn " id="memberInfoSubmitBtn" type="submit">
            회원정보 수정
          </button>
        </div>
      </form>
    </article>
  </section>
</main>
<footer th:replace="common/footer :: footer"></footer>
</body>
</html>