<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user/myPage/myPost.css">
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <link rel="stylesheet" href="/css/common/config.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- 부트스트랩 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- 부트스트랩 JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>myPost</title>
    <!--  <script defer src="/js/singlePage/login.js"></script>-->

    <script>

window.onload = function() {
    let selectedCategory = '';
    let category = document.getElementById('category');
    let rows = document.getElementsByTagName('tr');

    // 카테고리 선택
    category.onchange = function() {
        selectedCategory = category.value;
        if (selectedCategory === '') {
            for (let i = 0; i < rows.length; i++) {
                if (rows[i].tagName === 'TR') {
                    rows[i].style.display = '';
                }
            }
        } else {
            for (let i = 0; i < rows.length; i++) {
                if (rows[i].tagName === 'TR' && (rows[i].children[1].textContent === selectedCategory || rows[i].previousElementSibling.children[1].textContent === selectedCategory)) {
                    rows[i].style.display = '';
                    rows[i].previousElementSibling.style.display = '';
                } else if (rows[i].tagName === 'TR') {
                    rows[i].style.display = 'none';
                    rows[i].previousElementSibling.style.display = 'none';
                }
            }
        }
    };

    // 게시물 삭제
    let forms = document.getElementsByTagName('form');
    for (let i = 0; i < forms.length; i++) {
        forms[i].addEventListener('submit', function(event) {
            event.preventDefault();
            let form = event.target;
            let url = form.action;
            let row = form.closest('tr');
            let xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.onload = function() {
                if (xhr.status === 200) {
                    // 삭제 성공 시, 해당 게시물을 화면에서 제거합니다.
                    row.remove();
                    // 알림창을 띄웁니다.
                    alert('게시물이 삭제되었습니다.');
                } else {
                    // 삭제 실패 시, 알림창을 띄웁니다.
                    alert('게시물 삭제에 실패하였습니다.');
                }
            };
            xhr.send();
        });
    }
};



    </script>

</head>
<body>
<header th:replace="common/header :: header"></header>
<main class="myPostMain">
    <section id="myPostWrap">
        <div class="myPostTableCategory">
            <!--                    <a th:href="@{/}" class="myPageLink">홈&nbsp;&nbsp;&gt;</a>-->
            <a th:href="@{mypage}" class="myPageLink">&nbsp;&nbsp;마이페이지&nbsp;&nbsp;&gt;</a>
            <a th:href="@{mypost}" class="myPageLink"
               id="myPageSubLink">&nbsp;&nbsp;나의리뷰&nbsp;&nbsp;</a>
        </div>
        <p class="myPostTitle">나의 리뷰</p>
        <article class="myPostTableWrap">
<!--            <select name="#" id="myPostCategory">-->
<!--                <option value="">All</option>-->
<!--                <option value="Review">Review</option>-->
<!--                <option value="QnA">QnA</option>-->
<!--            </select>-->
            <table class="myPostTable">
                <colgroup>
                    <col width="15%"/>
                    <col width="70%"/>
<!--                    <col width="15%"/>-->
                </colgroup>
                <thead class="myPostTablThead">
                <tr class="myPostTableTr">
                    <th scope="col" class="myPostTableTh">no</th>
                    <th scope="col" class="myPostTableTh">제목</th>
<!--                    <th scope="col" class="myPostTableTh">번호</th>-->
<!--                    <th scope="col" class="myPostTableTh">작성일</th>-->
                </tr>
                </thead>
                <tbody class="myPostTableTbody">
                    <tr class="myPostTableTr" th:each="post : ${reviewList}">
                        <span > </span>
                        <td class="myPostTableRow">
                            <span class="myPostTableContentInner" th:text="${post.reviewSeq}"></span>
                        </td>
                        <td class="myPostTableRow">
                            <span class="myPostTableContentInner">
                                제품명: <span class="myPostTableContentInner" th:text="${post.productName}"></span>
                            </span>
                            <button type="button" class="btn btn-link" data-toggle="collapse"
                                    th:data-target="'#postContent'+${post.reviewSeq}" th:text="${post.title}"></button>
<!--                            <p th:text="${post.title}"></p>-->
                        </td>
<!--                       <td class="myPostTableRow">-->
<!--                               <span class="myPostTableContentInner"-->
<!--                                     th:text="${#temporals.format(post.date, 'yyyy-MM-dd HH:mm:ss')}"></span>-->
<!--                        </td>-->
                    </tr>
                   <tr th:each="post : ${reviewList}">
                        <td colspan="4">
                            <div th:if="${post != null}" th:id="'postContent'+${post.reviewSeq}" class="collapse">
                                <div class="card-body">
                                    <p th:text="${post.content}"></p>
                                    <form th:action="@{/posts/delete/{reviewSeq}(reviewSeq=${post.reviewSeq})}" method="post">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </section>
</main>
<footer th:replace="common/footer :: footer"></footer>
</div>
</body>
</html>