<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="userFragment :: head">
  <title>wishList</title>
  <link rel="stylesheet" href="/css/myPage/wishList.css">
</head>
<body>
<main id="wishListMain">
  <section id="myWishListWrap">
    <div class="wishListCategory">
      <a href="/" class="myPageLink">홈 &gt;</a>
      <a href="/user/myPage" class="myPageLink">마이페이지 &gt;</a>
      <a href="/user/wishList" class="myPageLink" id="myPageSubLink">위시리스트</a>
    </div>
    <p class="myWishListTitle">위시리스트</p>
    <article class="wishListTableWrap">
      <table class="wishListTable">
        <colgroup>
          <col width="4%" />
          <col width="14%" />
          <col width="52%" />
          <col width="10%" />
          <col width="10%" />
          <col width="10%" />
        </colgroup>
        <thead id="wishListThead">
        <tr class="wishListLine">
          <th scope="col" class="wishListTh">
            <input type="checkbox" class="wishListCheckBox" name="wishChkAll" chacked="chacked"
                   onclick="allselect(this.checked);" />
          </th>
          <th scope="col" class="wishListTh">이미지</th>
          <th scope="col" class="wishListTh">상품정보</th>
          <th scope="col" class="wishListTh">상품금액</th>
          <th scope="col" class="wishListTh">배송비</th>
          <th scope="col" class="wishListTh">선택</th>
        </tr>
        </thead>
        <tbody id="wishListTbody">
        <tr class="wishListLine">
          <td class="wishListTd">
            <input type="checkbox" class="wishListCheckBox" name="wishChk" cheked="cheked" />
          </td>
          <td class="wishListTd">
            <a href="#"><img src="../../images/icon/HunkerBed1-1.jpg" alt="상품이미지" /></a>
          </td>
          <td class="wishListTd">
            <p class="wishListProductName">월넛 빈티지 우드 프레임 침대 + 클라우드 매트리스 Queen set</p>
            <p class="wishListProductName">옵션: 화이트</p>
          </td>
          <td class="wishListTd">
            150000원
          </td>
          <td class="wishListTd">
            6,000원
          </td>
          <td class="wishListTd">
            <button type="submit" class="wishListTdBtn">주문하기</button>
            <button type="submit" class="wishListTdBtn">장바구니 담기</button>
          </td>
        </tr>
        </tbody>
      </table>
    </article>
    <article class="wishlistButtonWrap">
      <div class="wishlistControlButtonWrap">
        <span class="wishlistButtonLeftText">선택한 상품</span>
        <button class="wishlistButton" id="wishListBlackButton">삭제하기</button>
        <button class="wishlistButton">장바구니 담기</button>
      </div>
      <button class="wishlistButton" id="wishListBlackButton">
        전체 상품 주문
        <!-- <button href="#">관심상품 비우기</button>  -->
      </button>
    </article>
  </section>

</main>
</body>
</html>