body {
  width: 100%;
  margin: auto;
}

:root {
  font-size: 10px;
}

/* ============================================================================================ */
/* ============================================================================================ */
/* .=================================myPageMain============================ .*/
.myPageMain {
  margin: 0 auto;
  width: 70%;
  margin-top: 258px;
}

.myPageTitle {
  font-family:'Nanum Myeongjo';
  margin-top: 130px;
  margin-bottom: 40px;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

/* ==============================회원 인사 멘트 박스============================== */
/* ==============================회원 인사 멘트 박스============================== */
/* ==============================회원 인사 멘트 박스============================== .*/
.myPageMain>.myPageWrap>.myPageWMent {
  text-align: center;
}

.myPageMentContent,
.myPageMentContent>.myPageMentContentName {
  font-size: 2rem;
  font-family: NanumMyeongjo;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align:center;
}

.myPageMentContent>.myPageMentContentName {
  color: #505DD0;
}

.myPageMain>.myPageWrap>.myPageWMent>.myPageInfoMent {
  margin: 40px 0;
  font-size: 1.5rem;
}


.myPageMain>.myPageWrap>.myPageWMent>.myPageInfoMent>.myPageInfoMenMinPrice {
  font-size: 1.5rem;
  color: #505DD0;
}

/* ==============================적립금 박스============================== */
/* ==============================적립금 박스============================== */
/* ==============================적립금 박스============================== */

.MyPoint {
  width: 100%;
  border: 1px solid  #9497AB;
  text-align: center;
  margin-bottom: 1.5rem;
}

.myPageMain>.myPageWrap>.MyPoint>p {
  color: #505DD0;
  font-size: 1.6rem;
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: bold;
}

.myPageMain>.myPageWrap>.MyPoint>.myMileageCoupon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.myPageMain>.myPageWrap>.MyPoint>.myMileageCoupon>div {
  width: 20%;
  text-align: center;
  padding: 10px;
}

.myPageMain>.myPageWrap>.MyPoint>.myMileageCoupon>div:not(:first-of-type) {
  border-left: solid 0.5px rgba(192, 192, 192, 0.833);
}

.myPageMain>.myPageWrap>.MyPoint>.myMileageCoupon>div>p:first-of-type {
  font-size: 1.2rem;
  text-align: center;
  color:  #9497AB;
  margin-bottom: 5px;
}

.myPageMain>.myPageWrap>.MyPoint>.myMileageCoupon>div>p:last-of-type {
  font-size: 1.6rem;
  text-align: right;
}

.myPageMain>.myPageWrap>.MyPoint>.myMileageCoupon>.myPossibleMileage .strong,
myPageMain>.myPageWrap>.MyPoint>.myMileageCoupon>.myCouponWrap strong {
  color: #505DD0;
}

.myPageMain>.myPageWrap>.MyPoint>.myCouponMileageButtonWrap>.myCouponMileageButton {
  display: inline-block;
  width: 200px;
  height: 3.6rem;
  margin: 30px 5px;
  background-color: white;
  border: 1px solid;
  font-weight: bold;
}

/* ==============================주문 현황 박스============================== */
/* ==============================주문 현황 박스============================== */
/* ==============================주문 현황 박스============================== */

.myPageMyOrder {
  text-align: center;
  border: 1px solid  #9497AB;
}

.myPageMyOrder>.myPageOrederTitle {
  margin-top: 30px;
  margin-bottom: 40px;
}

.myPageMyOrder>.myPageOrederTitle>.myPageOrderTitleContent:first-of-type {
  font-size: 1.6rem;
  font-weight: bold;
  color: #505DD0;
}

.myPageMyOrder>.myPageOrederTitle>p.myPageOrderTitleContent:last-of-type {
  font-size: 1.3rem;
  color:  #9497AB;
  margin-top: 6px;
}

.myPageMyOrder>.myPageOrderProcess {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 34px;
}

.myPageMyOrder>.myPageOrderProcess>.myPageOrderProcessInnerContainer:not(:last-of-type) {
  width: 15%;
  height: 80px;
  border-right: 1px solid #9497AB;
}

.myPageMyOrder>.myPageOrderProcess>.myPageOrderProcessInnerContainer:last-of-type {
  width: 15%;
  height: 80px;
}

.myPageMyOrder>.myPageOrderProcess>.myPageOrderProcessInnerContainer:not(:last-of-type)>.myPageOrderCaseTitle{
  font-size: 1.4rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.myPageMyOrder>.myPageOrderProcess>.myPageOrderProcessInnerContainer:last-of-type>.myPageOrderCaseTitle {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.myPageMyOrder>.myPageOrderProcess>.myPageOrderProcessInnerContainer:last-of-type>.myPageOrderOtherCase>.myPageOrderOtherCaseTitle {
  margin-bottom: 5px;
}

.myPageMyOrder>.myPageOrderProcess>.myPageOrderProcessInnerContainer:last-of-type>.myPageOrderOtherCase>.myPageOrderOtherCaseTitle>.myPageOrderOtherCaseList {
  color: #505DD0;
}

.myPageMyOrder>.myPageOrderProcess>.myPageOrderProcessInnerContainer>.myPageOrderCase {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  color: #505DD0;
}
/*
.myPageMyOrder>.myPageOrderProcess>img {
  display: inline-block;
  width: 10px;
  height: 15px;
  margin-bottom: 25px;
} */

.delieveryEtc>ul>li {
  font-size: 1.2rem;
  color: #9497AB;
}

/* ==============================여러 메뉴============================== */
/* ==============================여러 메뉴============================== */
/* ==============================여러 메뉴============================== */

.myPageMenuContainer {
  margin-top: 40px;
  width: 100%;
  height: 600px;
  display: grid;
  grid-template: 45% 45% / 30% 30% 30%;
  row-gap: 5%;
  column-gap: 5%;
  justify-content: space-between;
  margin-bottom: 100px;
}

.myPageMenuContainer>.myPageMenu>.myPageMenuClickBtn {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 0 25px;
  border: 1px solid;
 /*  display: inline-block;
    position: absolute;*/
    width: 100%;
    height: 100%;
}

.myPageMenuContainer>.myPageMenu .myPageMenuTitle {
  font-size: 2rem;
  font-family: NanumMyeongjo;
  color: #1A1B23;
  font-weight: 700;
}

.myPageMenuContainer>.myPageMenu .myPageMenuContent {
  font-size: 1.4rem;
  color: #9497AB;
  /* display: block; */
}

.signUpBtnWrap{
text-align:right;
}

.myPageMenuContainer>.myPageMenu .myPageOrderMenuMore{
  font-size: 1.5rem;
  font-weight: bold;
}

