/* @font-face {
    font-family: ikkeullim;
    src: url(../font/ikkeullim.ttf) format("truetype"),
        url(../font/ikkeullim.woff) format("woff"),
        url(../font/ikkeullim.eot) format("embedded-opentype");
} */

@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
}

html {
    font-size: 10px;
}

h1,
h2,
h3 {
    font-family: 'Nanum Myeongjo', serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}