.reg_container {
    margin: 100px auto 0;
    width: 500px;
    height: 700px;
    box-shadow: 0px 0px 5px black;
    position: relative;
}


.reg_container>h2 {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 2.2rem;
}


.reg_container>form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 50px;
}


.select_cate {
    width: 100%;
    height: 30px;
}


.reg_container>form>input:not(:last-of-type) {
    padding-left: 10px;
    width: 100%;
    height: 30px;
}

.preview {
    width: 100%;
    height: 100px;
    display: flex;
    gap : 5px;
}

.preview > img{
    width: 100px;
    height : 50px;
}


.reg_btn {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: black;
    color: white;
}

.reg_btn:hover {
    opacity: 0.5;
    cursor: pointer;
}


.message {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: -50px;
    left: 0;
    font-size: 1.3rem;
}