<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/configCSS/config.css">
    <link rel="stylesheet" href="/detailPage/detailPage.css">
    <link rel="stylesheet" href="/detailPage/detailImgBox.css">
    <link rel="stylesheet" href="/detailPage/productInfo.css">
    <link rel="stylesheet" href="/detailPage/productOption.css">
    <title>Document</title>
</head>

<body>
    <div class="DetailContainer">
        <div class="ImgBoxContainer">
            <img src="" alt="상품이미지">

            <span class="mouseMoveBox"></span>
        </div>
    </div>

    <div class="forWideImg"></div>

    <div class="subImgContainer"></div>

    <div class="OptionContainer">
        <h2>옵션이름</h2>
        
        <ul>
            
        </ul>
    </div>

    <div class="ProductReviewContainer">
        <h3>Review</h3>

        <section class="ReviewContainer">
            <article class="reviewBox">
                <a href="#" class="AforReviewBox">:</a>

                <img src="" alt="리뷰이미지" class="reviewImg">

                <div class="reviewInfo">
                    <p class="reviewProduct">1</p>
                    <div class="reviewIdScore">
                        <span class="reviewWriter">작성자</span>
                        <span class="reviewScore">점수</span>
                    </div>

                    <p class="reviewTitle">리뷰제목</p>
                </div>
            </article>
        </section>
    </div>
</body>

</html>