<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/configCSS/config.css">
    <link rel="stylesheet" href="/subPage/subPage.css">
    <title>Document</title>
</head>

<body>
    <section class="SubHeaderContainer">
        <div class="SubHeaderInfo">
            <span>홈</span>
            <span>&#62;</span>
            <span>어쩌고저쩌고</span>
        </div>

        <div class="SubHeaderTitle">
            ???
        </div>

        <ul class="SubHeaderNav">

        </ul>
    </section>

    <section class="categoryBest">
        <h2>Best Product</h2>

        <div class="productContainer">
            <article class="productBox">
                <a href="#" class="AforProduct"></a>

                <img class="productImg" src="" alt=" 상품페이지">

                <div class="productInfo">
                    <p class="productName">이름</p>
                    <p class="productPrice">
                        <span>상품가격</span>
                        <span>상품가격</span>
                        <span>할인율</span>
                    </p>
                </div>

                <div class="forFavorite">
                    대충좋아하는거
                </div>
            </article>
        </div>
    </section>

    <section class="categoryProducts">
        <h3>Products</h3>

        <div class="productContainer">
            <article class="productBox">
                <a href="#" class="AforProduct"></a>

                <img class="productImg" src="" alt=" 상품페이지">

                <div class="productInfo">
                    <p class="productName">이름</p>
                    <p class="productPrice">
                        <span>상품가격</span>
                        <span>상품가격</span>
                        <span>할인율</span>
                    </p>
                </div>

                <div class="forFavorite">
                    대충좋아하는거
                </div>
            </article>
        </div>

        <div class="productContainer">
            <article class="productBox">
                <a href="#" class="AforProduct"></a>

                <img class="productImg" src="" alt=" 상품페이지">

                <div class="productInfo">
                    <p class="productName">이름</p>
                    <p class="productPrice">
                        <span>상품가격</span>
                        <span>상품가격</span>
                        <span>할인율</span>
                    </p>
                </div>

                <div class="forFavorite">
                    대충좋아하는거
                </div>
            </article>
        </div>
    </section>
</body>

</html>