@import url(/css/banner.css);

/* newProduct =========================== */
.newProductContainer {
    width: 70%;
    height: 25vw;
    margin: auto;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.newProductContainer>h2 {
    font-size: 3rem;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* bestProduct ========================== */
.bestProductContainer {
    width: 70%;
    height: 50vw;
    margin: auto;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5%;
}

.bestProductContainer>h2 {
    font-size: 3rem;
    height: 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* product*/

.productContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.productBox {
    width: 23%;
    height: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.productBox>.productImg {
    width: 100%;
    height: 75%;
}

.productInfo {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5rem;
    padding: 0% 5%;
}

.productInfo>p {
    width: 100%;
    display: flex;
}

.productPrice {
    gap: 5%;
}

.productPrice>span:not(:first-of-type) {
    color: #505DD0;
    font-size: 1.3rem;
}

.productPrice>span:nth-of-type(2) {
    text-decoration: line-through;
    font-size: 1.4rem;
}

.forFavorite {
    background: url(../../../public/images/icon/Favorit-lineicon.png) center/cover;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 0;
    right: 0;
    z-index: 10;
    cursor: pointer;
}

.forFavorite:hover {
    opacity: .5;
}

.AforProduct {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    text-indent: -9999em;
}

.productBox:hover {
    transition: all .3s;
    width: 25%;
    height: 110%;
    opacity: .7;
    box-shadow: 1px 1px 1.5px 1.5px rgba(0, 0, 0, .3);
}


/* mainCategory ========================= */
.mainCategory {
    width: 90%;
    height: 30vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 6%;
}

.mainCategory>div {
    width: 24%;
    height: 100%;
    position: relative;
}

.LivingCategory {
    background: url(/images/staticImages/CateLiving.jpg) center/cover;
}

.BedCategory {
    background: url(/images/staticImages/CateBed.jpg) center/cover;
}

.DiningCategory {
    background: url(/images/staticImages/CateDining.jpg) center/cover;
}

.DressCategory {
    background: url(/images/staticImages/CateDress.jpg) center/cover;
}

.mainCategory>div>a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(26, 27, 35, .3);
}

.mainCategory>div>a>span {
    color: white;
    font-size: 2.3rem;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 0;
    transform: translateY(-80%);
}

.mainCategory>div>a:hover {
    background-color: rgba(80, 90, 208, .3);
}



/* review ============================ */
.mainReview {
    width: 70%;
    height: 25vw;
    margin: auto;
    margin-top: 6%;
    display: flex;
    gap: 10%;
    flex-direction: column;
}

.mainReview>h3 {
    font-size: 2.5rem;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ReviewContainer {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewBox {
    width: 17%;
    height: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: .7;
}

.reviewImg {
    width: 100%;
    height: 70%;
}

.reviewInfo {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    justify-content: space-evenly;
    padding: 0% 5%;
}

.reviewIdScore {
    display: flex;
    justify-content: space-between;
}

.AforReviewBox {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999em;
    top: 0;
    left: 0;
}

.reviewBox:hover {
    width: 20%;
    height: 100%;
    transition: all .3s;
    box-shadow: 1px 1px 1.5px 1.5px rgba(0, 0, 0, .3);
    opacity: 1;
}