#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background-color: rgba(255, 255, 255, 1);
}

.upper-header {
    width: 70%;
    height: 128px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

/* ----------upper-header----------------- */
.logo-container {
    width: 200px;
    height: 70px;
}

.logo-container>a {
    display: block;
    height: 100%;
    text-indent: -9999em;
}

.logo-container>a>img {
    display: block;
}

.user-navbar {
    width: 320px;
    height: 70px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.user-navbar>.user-list {
    display: flex;
    flex-grow: 1;
    gap: 18px;
    width: 100%;
    height: 21px;
}

.user-navbar>.user-list>.user-menu {
    width: 100%;
    height: 100%;
}

.user-navbar>.user-list>.user-menu>a {
    width: 100%;
    height: 100%;

    display: flex;
    font-size: 1.3rem;
}

.user-navbar>.user-list>.user-menu>a>img {
    width: 30%;
    height: 100%;
}

.user-navbar>.user-list>.user-menu>a>span {
    width: 80%;
    height: 100%;
    font-size: 12px;
    padding-left: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-navbar>.search-form {
    width: 100%;
    height: 36px;
    border: none;
    position: relative;
}

.user-navbar>.search-form>input {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    padding: 5px 32px 5px 5px;
}

.user-navbar>.search-form>.search-btn {
    position: absolute;
    top: calc((100% - 20px) / 2);
    right: 12px;
    width: 20px;
    height: 20px;
    background: inherit;
    border: none;
    cursor: pointer;
    background: url(/images/icon/Serch\ icon.png);

    position: absolute;
    top: calc((100% - 20px)/2);
    right: 12px;
}

.user-navbar>.user-list>.user-menu>a:hover,
.user-navbar>.search-form>.search-btn:hover {
    opacity: .5;
}

/* ------------under-haader----------------- */
.under-header {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(100%);
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
}

.category-list {
    position: relative;
    display: flex;
    margin: auto;
    width: 70%;
    justify-content: center;
    gap: 4%;
    background-color: rgba(255, 255, 255, 0.1);
}

.category-list>li {
    width: 100px;
    height: 30px;
    font-size: 1.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.category-list>li:last-of-type {
    position: absolute;
    right: 0;
}

.category-list>li>span {
    width: 100%;
    height: 100%;
    line-height: 30px;
    text-align: center;
}


.category-list>li:last-of-type>span>img {
    width: 25px;
    height: 25px;
    margin-top: 2.5px;
}

.category-list>li>ul {
    width: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, .8);
    visibility: hidden;

    position: absolute;
    bottom: -5px;
    transform: translateY(100%);
}

.category-list>li>ul>li {
    width: 100%;
    height: 30px;
    font-size: 1.3rem;
}

.category-list>li>ul>li>a {
    width: 100%;
    height: 100%;

    display: block;

    display: flex;
    justify-content: center;
    align-items: center;
}

.category-list>li:hover {
    color: rgba(0, 0, 0, 0.5);
}

.category-list>li:hover>span {
    color: #505DD0;
    border-bottom: 1px solid #505DD0;
}

.category-list>li:hover>ul {
    visibility: visible;
    bottom: 0;
    transition: all .3s;
}

.category-list>li>ul>li>a:hover {
    border: 1px solid #505DD0;
    color: #505DD0;
    opacity: .5;
}