input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="checkbox"]+label+label:hover {
    color: #505DD0;
}


input[type="checkbox"] {
    display: inline-block;
    width: 0;
    height: 0;
}

input[type="checkbox"]+label>img {
    margin-right: 1rem;
    vertical-align: middle;
    display: inline-block;
    width: 13px;
    height: 13px;
    font-size: 0;
}

input[value="allAgree"]+label>img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

input[value="allAgree"]:checked+label>img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
}



section {
    width: 1100px;
    margin: 200px auto 0;
}

/* 주문 페이지 타이틀 */
.payment_title {
    width: 100%;
    height: 50px;
    font-size: 2.6rem;
    line-height: 50px;
}


/* 정보 입력 전체 틀 */
.order_info_container {
    width: 700px;
    margin-top: 30px;
}


.order_info_container>div {
    width: 100%;
}

/* 배송 입력 */
.order_info_container>div>.order_info_box {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.deli_title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 2rem;
    border-bottom: 2px solid black;
}




.name_box,
.phone_box {
    width: 70%;
    height: 30px;
    display: flex;
    gap: 20px;
    font-size: 1.4rem;
}

.name_box>label,
.phone_box>label {
    width: 30%;
    height: 100%;
    line-height: 30px;
}

.name_box>input,
.phone_box>input {
    width: 50%;
    height: 100%;
    padding-left: 5px;
}




/* 우편번호 */
.address_num_box {
    width: 70%;
    height: 30px;
    display: flex;
    gap: 20px;
    font-size: 1.4rem;
}

.address_num_box>label {
    width: 30%;
    height: 100%;
    line-height: 30px;
}

.address_num_box>div {
    width: 60%;
    height: 100%;
    display: flex;
    gap: 20px;
}

.address_num_box>div>input {
    width: 40%;
    height: 30px;
    padding-left: 5px;
}

.address_num_box>div>a {
    width: 40%;
    height: 100%;
    line-height: 30px;
    text-align: center;
    background-color: black;
    color: white;
}




/* 주소 입력 */
.address_input_box {
    width: 70%;
    height: 30px;
    display: flex;
    gap: 20px;
    font-size: 1.4rem;
}

.address_input_box>label {
    width: 30%;
    height: 100%;
    line-height: 30px;
}

.address_input_box>input {
    width: 60%;
    height: 100%;
    padding-left: 5px;
}


.memo_box {
    width: 70%;
    height: 70px;
    display: flex;
    gap: 20px;
}

.memo_box>label {
    width: 30%;
    height: 100%;
    line-height: 30px;
    font-size: 1.4rem;
}

.memo_box>div {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.memo_box>div>select {
    width: 100%;
    height: 30px;
    padding-left: 5px;
}

.memo_box>div>input {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    visibility: visible;
}





/* 상품 정보 */
.product_container {
    width: 100%;
    margin-top: 50px;
}

.product_container>.pro_title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
    border-bottom: 2px solid black;
}


.product_container>.pro_info {
    width: 100%;
    height: 50px;
    display: flex;
    gap: 20px;
    border-bottom: 2px solid black;
}

.product_container>.pro_info>span {
    height: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 1.4rem;
}

.product_container>.pro_info>.img_text {
    width: 150px;
}

.product_container>.pro_info>.pro_text {
    width: 200px;
}

.product_container>.pro_info>.ea_text {
    width: 50px;
}

.product_container>.pro_info>.price_text {
    width: 150px;
}

.product_container>.pro_info>.dis_text {
    width: 50px;
}

.product_container>.product {
    width: 100%;
    height: 150px;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid black;
}

.product_container>.product>img {
    display: block;
    width: 150px;
    height: 100%;
}

.product_container>.product>span {
    line-height: 150px;
    text-align: center;
    font-size: 1.3rem;
}

.product_container>.product>.prName {
    width: 200px;
    height: 100%;
}

.product_container>.product>.prEa {
    width: 50px;
    height: 100%;
}

.product_container>.product>.prPrice {
    width: 150px;
    height: 100%;
}

.product_container>.product>.prDis {
    width: 50px;
    height: 100%;
}



/* 결제 정보 창 */
.payment_container {
    width: 350px;
    height: 400px;
    position: fixed;
    top: calc((100% - 600px) / 2 + 158px);
    right: calc((100% - 1100px) / 2);
    box-shadow: 0 0 3px black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    z-index: 1;
}

.payment_container>p {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid black;
    font-size: 2rem;
}

.payment_container>.payment_info {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.5rem;
}

.payment_container>.payment_info>div {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.payment_container>.payment_info>div>span {
    width: 45%;
    height: 100%;
    line-height: 40px;
}

.payment_container>.payment_info>div>span:last-of-type {
    text-align: right;
}

/* 동의 부분 */
.payment_container>.agree_box {
    width: 100%;
    height: 20px;
    display: flex;
    gap: 10px;
    font-size: 1.3rem;
}

.payment_container>.sub_agree {
    padding-left: 20px;
}

.payment_container>.agree_box>input {
    width: 12px;
    height: 12px;
    margin-top: 4px;
}

.payment_container>.agree_box>label {
    width: 250px;
    height: 100%;
    line-height: 20px;
}


/* submit button */
.order_btn {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 1.8rem;
    text-align: center;
    background-color: black;
    color: white;
}

.order_btn:hover {
    opacity: 0.5;
    cursor: pointer;
}




/* 결제창 팝업 */
#to_pay_container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

#to_pay_container>form {
    width: 500px;
    height: 600px;
    position: absolute;
    top: calc((100% - 600px) / 2);
    left: calc((100% - 500px) / 2);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 200;
    padding: 20px;
}

#to_pay_container>form>span {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    font-size: 2.4rem;
    line-height: 50px;
}

#to_pay_container>form>div {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
}

#to_pay_container>form>div>label,
#to_pay_container>form>div>span {
    width: 30%;
    height: 100%;
    line-height: 40px;
}

#to_pay_container>form>div>input,
#to_pay_container>form>div>select {
    width: 60%;
    height: 100%;
}

#to_pay_container>form>.input_container {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.6rem;
}

#to_pay_container>form>.input_container>label {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    line-height: 30px;
}

#to_pay_container>form>.input_container>input {
    width: 70%;
    height: 40px;
    line-height: 40px;
    text-align: right;
}


#to_pay_container>form>#finish_btn {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 2rem;
    color: white;
    background-color: black;
}

#to_pay_container>form>#finish_btn:hover {
    opacity: 0.5;
    cursor: pointer;
}