<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kdt.goohae.mapper.user.OrderMapper">

    <select id="selectList" resultType="orderVO">
        select i.order_seq, i.order_date, d.product_ea, d.product_code, d.price, d.deli_status , p.image_path, pr.product_name
        from product pr , product_image p, order_info i , order_detail d
        where i.user_id = #{loginId} and i.order_seq = d.order_seq and p.product_code = pr.product_code and d.product_code = pr.product_code;
    </select>

    <select id="selectOne">
        select
    </select>

    <delete id="delete">
        delete
    </delete>

    <insert id="insert">
        insert
    </insert>


</mapper>