<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kdt.goohae.mapper.user.WishMapper">

    <select id="selectList" resultType="GetProductDTO">
        select p.product_code, p.image_path, pr.product_name, pr.price from product pr , product_image p
        where pr.product_code IN (select product_code from wish where user_id = #{userId} ) and pr.product_code = p.product_code ;
    </select>
    <insert id="insert">
        insert into wish ( user_id, product_code ) values (#{userId}, #{productCode})
    </insert>

    <delete id="delete">
        delete from wish where user_id = #{userId} AND product_code = #{productCode}
    </delete>

    <delete id="checkedDelete">
        delete from wish where user_id = #{userId} AND product_code in
        <foreach collection="productCodes" item="pc" separator="," open="(" close=")">
            #{pc}
        </foreach>
    </delete>


</mapper>
