<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kdt.goohae.mapper.admin.AdminMapper">
    <select id="selectOne" resultType="ManagerVO">
        select *
        from manager
        where id = #{id}
    </select>
</mapper>