<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="fragment-footer">
    <link rel="stylesheet" href="/css/common/footer.css">
</head>

<body>
    <footer id="footer">
        <div class="footer_container">
            <h1 class="footer_logo">
                <a href="#"><img src="/images/icon/logo.png" alt="footerlogo"></a>
            </h1>

            <div class="info_box">
                <div class="text_container">
                    <p>이 웹페이지는 개발 학습 용도로 비상업 목적으로 제작되었습니다.</p>
                    <p>그린컴퓨터아카데미 Team. Goohae</p>
                </div>

                <ul class="teamEmail">
                    <li>
                        <a href="#!">
                            <img src="/images/icon/GitHub.png" alt="img" />
                            <span>@ github</span>
                        </a>
                    </li>

                    <li>
                        <a href="#!">
                            <img src="/images/icon/GitHub.png" alt="img" />
                            <span>@ github</span>
                        </a>
                    </li>

                    <li>
                        <a href="#!">
                            <img src="/images/icon/GitHub.png" alt="img" />
                            <span>@ github</span>
                        </a>
                    </li>

                    <li>
                        <a href="#!">
                            <img src="/images/icon/GitHub.png" alt="img" />
                            <span>@ github</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>