.DetailContainer {
    width: 70%;
    height: 35vw;
    margin: auto;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}

.ProductReviewContainer {
    width: 70%;
    height: 25vw;
    margin: auto;
    margin-top: 6%;
    display: flex;
    gap: 10%;
    flex-direction: column;
}

.ProductReviewContainer>h3 {
    font-size: 2.5rem;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}