<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <link rel="stylesheet" href="/css/common/config.css">
    <link rel="stylesheet" href="/css/customer/customerMain.css">
    <link rel="stylesheet" href="/css/customer/customerTable.css">

    <title>Document</title>
</head>

<body>
    <header th:replace="common/header :: header"></header>

    <div class="customerMain">
        <h1>FAQ</h1>

        <ul th:replace="/cutomer/customer-fragment :: categoryBox"></ul>

        <table class="customerTable">
            <thead class="tableList">
                <tr>
                    <th>작성일</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="qnaList : ${qnaList}" class="tableTr">
                    <td th:text="${qnaList.reg_date}" class="tableTd"></td>
                    <td th:text="${qnaList.title}" class="tableTd"></td>
                    <td th:text="${qnaList.user_id}" class="tableTd"></td>
                    <td colspan="4" class="acordian">
                        <div class="acordianHeader" th:text="${qnaList.content}"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer th:replace="common/footer :: footer"></footer>
</body>

</html>