<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/configCSS/config.css">
    <link rel="stylesheet" href="/customer/customerMain.css">
    <link rel="stylesheet" href="/customer/inquiry.css">
    <title>Document</title>
</head>

<body>
    <div class="customerMain">
        <h1>상담문의</h1>

        <ul class="categoryBox">
            <li>
                <a href="#">공지사항</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
            <li>
                <a href="#">상담문의</a>
            </li>
        </ul>

        <div class="inquiryContainer">
            <div class="selectBox">
                <span>문의 구분</span>
                <select name="" id="">
                    <option name="문의를 선택해주세요" value="0">문의를 선택해주세요</option>
                    <option name="제품문의" value="1">제품문의</option>
                    <option name="배송/설치 문의" value="2">배송/설치 문의</option>
                    <option name="주문/결제/취소 문의" value="3">주문/결제/취소 문의</option>
                    <option name="교환/반품 문의" value="4">교환/반품 문의</option>
                    <option name="이벤트/프로모션" value="5">이벤트/프로모션</option>
                    <option name="통합회원/기타문의" value="6">통합회원/기타문의</option>
                </select>
            </div>
        </div>
    </div>
</body>

</html>