<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <tbody th:fragment="notice" class="table-group-divider">
        <tr th:each="qnaList : ${qnaList}" class="table-custom-tr">
            <th th:text="${qnaList.boardSeq}" scope="row"></th>
            <td th:text="${qnaList.userId}"></td>
            <td th:text="${qnaList.title}"></td>
            <td th:text="${qnaList.regDate}"></td>
        </tr>
    </tbody>
</body>

</html>