*{
    color: #1A1B23;
    margin: 0;
    padding-left: 0;
    font-family: 'NanumGothic';
}
body {
    background-color: #F5F5F5;
    ;
}

.container>.nonMemberListWrap:nth-of-type(1),
input {
    border: 1px solid #1A1B23
}

/*---------------컨테이너 중앙, 균등 ---------------*/
.nonMemberMain::after,
.nonMemberMain::before {
    content: " ";
    display: block;
    flex-grow: 1;
    height: 1em;
    width: 100%;
}

.nonMemberMain {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------개별 요소들--------------------- */
.nonMemberContainer {
    width: 400px;
    height: 592px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #F7F7FB;
    box-shadow: 0px 2px 50px rgba(80, 93, 208, 0.4);
    border-radius: 5px;
}

.nonMemberInnerContainer{
    padding:54px 40px 0;
    width: 400px;
    
}

.nonMemberHead .nonMemberHeadLogo{
    display: block;
    height: 70px;
    width: 200px;
    margin: 0px 60px 34px;
    text-indent: -9999em;
    background: url(../../../stores/images/icon/logo.png) no-repeat center top/contain;
}

.nonMemberHead>.nonMemberListWrap {
    display: flex;
    justify-content: stretch;
    height: 40px;
    width: 320px;
    list-style-type: none;
}

.nonMemberHead>.nonMemberListWrap>.nonMemberList {
    height: 40px;
    width: 160px;
    text-align: center;
}

.nonMemberHead>.nonMemberListWrap .nonMemberList .LoginLink,
.nonMemberHead>.nonMemberListWrap .nonMemberList .nonMemberLink{
    /* text-decoration: none; */
    display: block;
    height: 40px;
    margin:auto ;
    padding: .7rem 0px;
    font-size: 14px;
    
}

.nonMemberHead>.nonMemberListWrap .nonMemberList .nonMemberLink {
    width: 115px;
    border-bottom:#505DD0 solid 2px ;
    color:  #505DD0;;
    cursor: pointer;
    line-height: 14px;
    font-weight: 700;
}

/* ------------------------ */
.nonMemberBody{
    padding-top: 20px;
    font-weight: 700;
}

.nonMemberForm .nonMemberLabel{   
    padding:10px 0 7px;
    outline-style: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    display: block;

}
.nonMemberForm #nonMemberName,
.nonMemberForm #nonMemberPhone,
.nonMemberForm #nonMemberEmail{
    height:36px;
    width:100%;
    margin-bottom: 2px;
    text-indent: 14px;
    outline: none;
    font-size: 14px;
}

.redInputBox{
    border: 1px solid #FF655B;
}
.nonMemberPhoneBox{
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 36px;
    line-height: 36px;
    margin-bottom: 2px;
}
.nonMemberPhone{
    width: 82px;
}

.nonMemForm .nonMemberWarning{
    color: #FF655B;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.hidden{
    visibility: hidden;
}

.nonDisplay{
    display: none;
}


.nonMemberBtn{
    display: block;
    height:36px;
}

.nonMemberBtn {
    display: block;
    background-color:#9497AB;
    border: 0;
    color: whitesmoke;
    width: 320px;
    height: 36px;
    margin: 30px auto 0px;
    outline: none;
    font-size: 1.4rem;
}

.buttonLogin{
    background-color: #1A1B23;
}