* {
    margin: 0;
    padding: 0;
    color: gray;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: auto;
    position: relative;
}

:root {
    font-size: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type = "checkbox"] {
    /* display: none; */
}

input[type="checkbox"] + label span.radioImg{
    display:inline-block;
    width: 13px;
    height: 13px;
    margin: -2px 9px 0 4px;
    font-size: 0;
    vertical-align: middle;
    background: url('../../../stores/images/icon/unChecked.png') no-repeat;
    background-size: cover ;
}

input[type="checkbox"]:checked + label span.radioImg {
    display:inline-block;
    width: 13px;
    height: 13px;
    font-size: 0;
    vertical-align: middle;
    background: url('../../../stores/images/icon/checked.png') no-repeat;
    background-size: cover ;
    cursor:pointer;
}

input[type="checkbox"]:checked + label + label:hover ,
input[type="checkbox"] + label + label:hover{
    color: #505DD0;
}


/* =================================.signUpContainer============================ */

.signUpContainer {
    font-size: 10px;
    width: 85%;
    margin: 0 auto;
    /* background-color: ; */

    
}

#MemberInfoWrap>.myInfoCategory {
    margin-top: 15px;
}

/* #MemberInfoWrap>.myInfoCategory>.signUpBtn {
    color: gray;
    font-size: 1.2rem;
} */

#MemberInfoWrap>.myInfoCategory>a:last-of-type {
    font-size: 1.2rem;
    color: #505DD0;
}

/* ===========내 정보 타이틀=========== */

.signUpContainer>section>.logoImage{
    display: flex;
    justify-content: center;
    margin-bottom: 5.3rem;
    margin-top: 5.3rem;

}

.signUpContainer>section .logoImage>a{
    display: inline-block;
    width: 20.3rem;
    height: 6rem;
     text-indent:-9999em;
}

.signUpContainer>section>.FormWrap {
    display: flex;
    justify-content: center;
}

.signUpContainer>section>.FormWrap>.InfoForm {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-flow: column wrap;
    width: 320px;
}

.signUpContainer>section>.FormWrap>.InfoForm>div:not(.ButtonWrap) {
    width: 100%;
  /*  margin-bottom: 20px;*/
}
.signUpContainer>section>.FormWrap>.InfoForm>div>.signUpErrorMassage {
    color: red;
    padding-left: 5px;
    padding-top: 5px;

}
.signUpContainer>section>.FormWrap>.InfoForm>div>.signUpMassage {
    padding-left: 5px;
    padding-top: 5px;

}

.signUpContainer>section>.FormWrap>.InfoForm>div>p:first-of-type {
    font-weight: 700;
    margin-bottom: 8px;
}

.signUpContainer>section>.FormWrap>.InfoForm .InfoFormTitle {
    display: block;
    margin-top: 40px;
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.signUpContainer>section>.FormWrap>.InfoForm div input:not([type="checkbox"]) {
    display: inline-block;
    height: 40px;
    border: 1px solid #1A1B23;
}

.signUpContainer>section>.FormWrap>.InfoForm>.idInputWrap input {
    width: 32rem;
}

.signUpContainer>section>.FormWrap>.InfoForm>.emailInputWrap>span{
    font-size: 1.4rem;
}

.signUpContainer>section>.FormWrap>.InfoForm>.emailInputWrap>.emailInput{
    display: flex;
    align-items: center;
}

.signUpContainer>section>.FormWrap>.InfoForm>.emailInputWrap input,
.signUpContainer>section>.FormWrap>.InfoForm>.emailInputWrap select {
    width: 10rem;
    height: 40px;
}

.signUpContainer>section>.FormWrap>.InfoForm>.emailInputWrap select {
    margin-left: .8rem;
}

.signUpContainer>section>.FormWrap>.InfoForm>.pwInputWrap input,
.signUpContainer>section>.FormWrap>.InfoForm>.pwConfirmInputWrap input,
.signUpContainer>section>.FormWrap>.InfoForm>.nameInputWrap input,
.signUpContainer>section>.FormWrap>.InfoForm>.tellInputWrap> input {
    width: 32rem;
}

/* .signUpContainer>section>.FormWrap>.InfoForm>.tellInputWrap{
    width: 32rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.signUpContainer>section>.FormWrap>.InfoForm>.tellInputWrap>.signUpPwMassage{
    font-size: 1.4rem;
}

/* .signUpContainer>section>.FormWrap>.InfoForm>.tellInputWrap input {
    width: 8rem;
    text-align: center;
}

.signUpContainer>section>.FormWrap>.InfoForm>.tellInputWrap input:first-of-type{
    tmackground-color: var(--LightGray);
} */

.signUpContainer>section>.FormWrap>.InfoForm>.idInputWrap input,
.signUpContainer>section>.FormWrap>.InfoForm>.emailInputWrap input,
.signUpContainer>section>.FormWrap>.InfoForm>.pwInputWrap input,
.signUpContainer>section>.FormWrap>.InfoForm>.pwConfirmInputWrap input,
.signUpContainer>section>.FormWrap>.InfoForm>.tellInputWrap input,
.signUpContainer>section>.FormWrap>.InfoForm>.nameInputWrap input {
    padding-left: 5px;
}
.red{
   color:red;
       padding-left: 5px;
       padding-top: 5px;
}

.nonDisplay{
    display:none
}
.redInputBox{
   border:red solid 1px;
}
.hidden{
visibility:hidden;
}
.signUpContainer>section>.FormWrap>.InfoForm .emailGetRadio>div>div>label {
    color: #1A1B23;
    font-size: 1.4rem;
}

.signUpContainer>section>.FormWrap>.InfoForm .emailGetRadio>div>div>label:hover {
    color: #505DD0;
}

.signUpContainer>section>.FormWrap>.InfoForm .emailGetRadio>div>a {
    display: inline-block;
    padding-bottom: .2rem;
    border-bottom: 1px solid #9497AB;
    font-size: 1.2rem;
}

.signUpContainer>section>.FormWrap>.InfoForm .emailGetRadio {
    display: flex;
    flex-flow: column wrap;
    gap: 22px;
}

.signUpContainer>section>.FormWrap>.InfoForm .emailGetRadio > div{
    display: flex;
    align-items: center;
    justify-content: space-between
}

.signUpContainer>section>.FormWrap>.InfoForm .emailGetRadio>div>label:first-of-type {
    margin-right: 10px;
}

.ButtonWrap {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
    width: 100%;
}

.signUpBtn{
/* .ButtonWrap>.signUpBtn { */
   /* background-color: #9497AB;*/
    border: none;
    width: 100%;
    height: 3.6rem;
    font-weight: 700;
    color: white;
    background-color: #9497AB;
    font-size: 1.4rem;
}

.signUpBtn:hover{
    background-color: #505DD0;
    border: none;
    cursor: pointer;
}

    .btnDisable{
    pointer-events: none;
    color: #1A1B23;
}

/* .ButtonWrap>button>a {
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;

} */

.personalInfoPermition>p,
.usingServisePermition>p{
    font-size: 20px;
    padding-top: 50px;
}

.personalInfoPermition>button,
.usingServisePermition>button{
    width: 20%;
    color: white;
    background-color: #9497AB;
    border: none;
    height: 50px;
    margin-bottom: 50px;
}

.personalInfoPermition>.signUpBtn:hover,
.usingServisePermition>.signUpBtn:hover{
    background-color: #505DD0;
    cursor: pointer;
}

.personalInfoPermition,
.usingServisePermition{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 65%;
    top: 30vh;
    left: calc(.18 * 100vw);
    background-color: white;
    display: none;
}

.usingServicePermitionContent,
.personalInfoPermitionContent{
    display: inline-block;
    width: 80%;
    height: 40vh;
    margin: 50px 50px;
    overflow: scroll;
}
.buttonLogin{
background-color: #1A1B23;;
}
.empasized{
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
    z-index : 100;

}
